@import "tailwindcss";

:root {
  --background: #f3f2f241;
  --foreground: #8a8585;
  width: 1200px;
  margin: 0 auto;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* styles.css (nếu dùng CSS tay), hoặc viết inline class vẫn được */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease-out;
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
}

button {
  background-color: #455A64;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* styles/globals.css */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background: url('../../public/mountain-night-forest-landscape-with-moon-and-stars-vector.jpg') no-repeat center center / cover; */
  background-color: white;
  z-index: -1;
}


html {
  scroll-behavior: smooth;
  font-size: 16px;
}